@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),url("./img/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.error {
  text-align: center;
  color: #fff;
}

.header-container h1 {
  margin-top: 10%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #fff;
  font-family: "Bubblegum Sans", cursive;
}

.header-container p {
  margin-bottom: 30%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #fff;
  font-family: "Lato", sans-serif;
}

.title-container {
  text-align: center;
  display: table;
  margin: 0 auto;
}

.title-container p {
  margin: 20px;
  font-size: 1.5em;
  font-family: "Lato", sans-serif;
  color: #fff;
}

.results-container {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -10%);
  border: 3px solid #000;
  min-height: 200px;
  min-width: 500px;
  border-radius: 20px;
  box-shadow: 6px 0 20px #333;
  background-color: rgba(0, 0, 0, 0.4);
}

button {
  position: absolute;
  top: 110%;
  left: 40%;
  transform: translate(-50%);
}

#tweet {
  position: absolute;
  top: 110%;
  left: 60%;
  transform: translate(-50%);
}

/* Responsive */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  body {
    height: 50vh;
  }
  
  .header-container h1 {
    margin-top: 10.5%;
  }

  .results-container {
    top: 42%;
  }
}